.form {
  margin: 0 auto;
  display: flex;
  width: 829px;
  justify-content: space-between;
}

.input {
  width: 630px;
  display: flex;
  gap: 12px;
}

.circles {
  display: flex;
  justify-content: center;
  margin: 48px auto 0;
  flex-wrap: wrap;
  max-width: 944px;
  align-content: space-between;
  min-height: 238px;
  gap: 16px;
}