.form {
  margin: 0 auto;
  width: 952px;
}

.value {
  display: grid;
  grid-template-columns: 204px repeat(4, 175px);
  column-gap: 12px;
  margin-bottom: 9px;
}

.index {
  display: grid;
  grid-template-columns: 204px repeat(2, 362px);
  column-gap: 12px;
}